@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color: aquamarine;
  font-family: 'Open Sans';
}

.ticket-status{
  display: flex;
  justify-content: space-around;
}

h3{
  color: rgb(23, 162, 197);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgb(133, 122, 122);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teal{
  border: 1px solid white;
  background-color: rgb(81, 185, 185);
}


.dark-teal{
    background-color: teal;
    border: 1px solid white;
}
